extends layout

block content
  section.todoapp
    header.header
      h1 todos
      input.new-todo(placeholder='What needs to be done?' autofocus)
    section.main
      input#toggle-all.toggle-all(type='checkbox')
      label(for='toggle-all') Mark all as complete
      ul.todo-list
        li.completed
          .view
            input.toggle(type='checkbox' checked)
            label Taste JavaScript
            button.destroy
          input.edit(value='Create a TodoMVC template')
        li
          .view
            input.toggle(type='checkbox')
            label Buy a unicorn
            button.destroy
          input.edit(value='Rule the web')
    footer.footer
      span.todo-count
        strong 0
        | item left
      ul.filters
        li
          a.selected(href='#/') All
        li
          a(href='#/active') Active
        li
          a(href='#/completed') Completed
      button.clear-completed Clear completed
  footer.info
    p Double-click to edit a todo
    p Template by 
      a(href='http://sindresorhus.com') Sindre Sorhus
    p Created by 
      a(href='http://todomvc.com') you
    p Part of 
      a(href='http://todomvc.com') TodoMVC
